*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# shared folder
shared

# *.db 
*.db

# yarn.lock or package-lock.json
yarn.lock
package-lock.json

# sam build
.aws-sam